.filmesaf h1 {
    font-family: 'Trispace', sans-serif;
    font-weight: 800;
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 16.3rem;
    color: rgba(255, 255, 255, 0.671);
    font-size: 2.3rem;
}

.films:hover {
    transform: scale(1.03);
}


.container-filmesaf {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Telas com ate 1024 pixels */

@media (min-width: 1024px) {
    .container-filmesaf {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    }

    .filmesaf h1 {
        font-family: 'Trispace', sans-serif;
        font-weight: 800;
        text-align: center;
        margin-top: 12rem;
        margin-bottom: 16.3rem;
        color: rgba(255, 255, 255, 0.671);
        font-size: 2rem;
    }

    .container-filmesaf a {
        font-size: 13px;
    }
}

@media (max-width: 1024px) {
    .container-filmesaf {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    }

    .filmesaf h1 {
        font-family: 'Trispace', sans-serif;
        font-weight: 800;
        text-align: center;
        margin-top: 12rem;
        margin-bottom: 16.3rem;
        color: rgba(255, 255, 255, 0.671);
        font-size: 2rem;
    }

    .container-filmesaf a {
        font-size: 13px;
    }
}

@media (min-width: 1040px) and (max-width: 1200px) {
    .container-filmesaf {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 5rem;
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    }

    .filmesaf h1 {
        font-family: 'Trispace', sans-serif;
        font-weight: 800;
        text-align: center;
        margin-top: 12rem;
        margin-bottom: 16.3rem;
        color: rgba(255, 255, 255, 0.671);
        font-size: 2rem;
    }

    .container-filmesaf a {
        font-size: 13px;
    }
}

@media (min-width: 480px) and (max-width: 720px) {
    .container-filmesaf {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 5rem;
        row-gap: 5rem;
        width: 400px;
        margin-right: auto;
        margin-left: auto;
    }


    .filmesaf h1 {
        font-family: 'Trispace', sans-serif;
        font-weight: 800;
        text-align: center;
        margin-top: 12rem;
        margin-bottom: 16.3rem;
        color: rgba(255, 255, 255, 0.671);
        font-size: 2rem;
    }

    .container-filmesaf a {
        font-size: 13px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .container-filmesaf {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 5rem;
        row-gap: 5rem;
        width: 400px;
        margin-right: auto;
        margin-left: auto;
    }


    .filmesaf h1 {
        font-family: 'Trispace', sans-serif;
        font-weight: 800;
        text-align: center;
        margin-top: 12rem;
        margin-bottom: 2rem;
        color: rgba(255, 255, 255, 0.671);
        font-size: 2rem;
    }

    .container-filmesaf a {
        font-size: 13px;
    }
}