section h1 {
    font-family: 'Trispace', sans-serif;
    font-weight: 800;
    text-align: center;
    margin-top: 20rem;
    color: rgba(255, 255, 255, 0.671);
    font-size: 2.3rem;
}
.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0;
    width: 1500px;
    padding-left: 11.3rem;
}

.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 200px;
	height: 300px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
    filter: grayscale();
    transition: filter 0.5s ease-in-out;
}
    .container .card .content  .imgBx img:hover {
        filter: none;
    }

.container .card .content .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .sci {
	position: absolute;
	bottom: 1px;
	display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.container .card .sci li a {
	color: #fff;
	font-size: 20px;
}

.container .card .sci li img {
    width: 30px;
    height: 30px;
}

/* Telas com ate 1024 pixels */

@media (min-width: 900px) and (max-width: 1024px) {
	.container {
		display: grid;
		grid-template-columns: auto auto;
		width: 700px;
		margin: 0;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
	}

	

	section h1 {
		font-family: 'Trispace', sans-serif;
		font-weight: 800;
		text-align: center;
		margin-top: 20rem;
		margin-left: 2rem;
		color: rgba(255, 255, 255, 0.671);
		font-size: 2.3rem;
	}
}

@media (min-width: 1200px){ 
	.container {
		display: grid;
		grid-template-columns: auto auto auto;
		width: 1020px;
		margin: 0;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
	}

	

	section h1 {
		font-family: 'Trispace', sans-serif;
		font-weight: 800;
		text-align: center;
		margin-top: 20rem;
		margin-left: 2rem;
		color: rgba(255, 255, 255, 0.671);
		font-size: 2.3rem;
		background-color: blueviolet;
	}
}

@media (min-width: 1040px) and (max-width: 1200px) { 
	.container {
		display: grid;
		grid-template-columns: auto auto;
		width: 700px;
		margin: 0;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
	}

	

	section h1 {
		font-family: 'Trispace', sans-serif;
		font-weight: 800;
		text-align: center;
		margin-top: 20rem;
		margin-left: 2rem;
		color: rgba(255, 255, 255, 0.671);
		font-size: 2.3rem;
		background-color: blueviolet;
	}
}

/* Telas com até 768 pixels */

@media(min-width: 720px) and (max-width: 768px) {
	.container {
		display: grid;
		grid-template-columns: auto auto;
		width: 700px;
		margin: 0;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
	}

	section h1 {
		font-family: 'Trispace', sans-serif;
		font-weight: 800;
		text-align: center;
		margin-top: 20rem;
		margin-left: 2rem;
		color: rgba(255, 255, 255, 0.671);
		font-size: 2.3rem;
	}
}