
.sobre h2 {
    text-align: center;
    margin-top: 30rem;
    color: rgb(195, 190, 190);
}

.redes {
    width: 30px;
    height: 30px;
}

.redessociais li {
    list-style: none;
    float: left;
    margin-left: 5rem;
    display: flex;
    align-items: center;
}

.redessociais li span {
    margin-left: 0.5rem;
}

.redessociais ul {
    margin-bottom: 2rem;
    margin-left: 18rem;

}

.redessociais span {
    color: rgb(168, 168, 168);
}

/* Telas com ate 1024 pixels */

@media (min-width: 1024px) {
    .sobre h2 {
        font-size: 18px;
    }

    .redessociais span {
        font-size: 15px;
    }

    .redessociais li {
        margin-left: 1rem;
    }

    .redessociais ul {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1024px) {
    .sobre h2 {
        font-size: 18px;
    }

    .redessociais span {
        font-size: 15px;
    }

    .redessociais li {
        margin-left: 1rem;
    }

    .redessociais ul {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
}

 /* Telas com até 768 pixels */

 @media (max-width: 768px) {
    .sobre h2 {
        font-size: 14px;
    }

    .redessociais span {
        font-size: 11px;
    }

    .redessociais li {
        margin-left: 1rem;
    }

    .redessociais ul {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media (min-width: 480px) and (max-width: 720px) {
    .sobre h2 {
        font-size: 12px;
    }

    .redessociais span {
        font-size: 10px;
    }

    .redessociais li {
        margin-left: 1rem;
    }

    .redessociais ul {
        width: 40%;
        margin-left: auto;
        margin-right: auto;

    }

    .redessociais img {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .sobre h2 {
        font-size: 12px;
    }

    .redessociais span {
        font-size: 10px;
    }

    .redessociais li {
        margin-left: 1rem;
    }

    .redessociais ul {
        width: 40%;
        margin-left: auto;
        margin-right: auto;

    }

    .redessociais img {
        width: 20px;
        height: 20px;
    }
}